openapi: 3.1.0
info:
  title: LinkedIn API Integration
  description: API for LinkedIn OAuth and posting updates with static token authentication.
  version: 1.0.0
servers:
  - url: https://linkedin.bala-kot.com
    description: Hosted server
paths:
  /linkedin/auth:
    get:
      operationId: getLinkedinAuth
      summary: Get LinkedIn Authorization URL
      description: Returns the LinkedIn authorization URL for the user to authenticate.
      parameters:
        - name: Authorization
          in: header
          required: true
          description: Bearer token for static token authentication.
          schema:
            type: string
            example: Bearer BXwPmbgvlwPtoz24fffxeYYa2P5qGh9ebxRZ7XYe4zoMZh8vUKKGmeshzUl5qpKI
      responses:
        "200":
          description: Authorization URL successfully returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  authorization_url:
                    type: string
        "401":
          description: Unauthorized due to missing or invalid token.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
  /linkedin/callback:
    get:
      operationId: handleLinkedinCallback
      summary: LinkedIn Callback
      description: Handles LinkedIn's OAuth callback to retrieve access tokens.
      parameters:
        - name: code
          in: query
          required: true
          description: Authorization code from LinkedIn.
          schema:
            type: string
      responses:
        "200":
          description: Authorization successful, profile URN returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  profile_urn:
                    type: string
        "400":
          description: Authorization code missing or error during token retrieval.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: object
  /linkedin/post:
    post:
      operationId: postToLinkedin
      summary: Post an Update to LinkedIn
      description: Posts an update to LinkedIn with optional media or URL metadata.
      parameters:
        - name: Authorization
          in: header
          required: true
          description: Bearer token for static token authentication.
          schema:
            type: string
            example: Bearer BXwPmbgvlwPtoz24fffxeYYa2P5qGh9ebxRZ7XYe4zoMZh8vUKKGmeshzUl5qpKI
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  description: Type of post (TEXT, URL, IMAGE, or VIDEO).
                  example: TEXT
                text:
                  type: string
                  description: Text content of the post.
                  example: "Hello LinkedIn!"
                url:
                  type: string
                  description: URL to include in the post (for URL type posts).
                  example: "https://example.com"
                media_url:
                  type: string
                  description: Media file URL to upload (for IMAGE or VIDEO posts).
                  example: "https://example.com/image.jpg"
      responses:
        "200":
          description: Post successfully created on LinkedIn.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  response:
                    type: object
                  post_url:
                    type: string
        "400":
          description: Error occurred during posting or invalid media.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: object
        "401":
          description: Unauthorized due to missing or invalid token.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
